body {
/* hintergrundfarbe */
background-color: #772b2b;

/* schirftart */
font-family: sans-serif;

display: flex;
flex-direction: column; /*stapelt elemente untereinander*/
justify-content: center; /* Zentriert Horizontal*/
align-items: center; /* Zentriert Vertikal*/

/* nutzt die exakte höhe und breite des bildschirms */
height: 100vh;
width: 100vw;
margin: 0;
overflow: hidden; /*verhindet hässlige scrollbaljen*/
}

h1 {
    font-size: 64px; /*macht den titel richtig fett */
    color: #00ff66;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 5px;

    /* der neon effekt */
    text-shadow: 0 0 15px rgba(0, 255, 102, 0.6);
}

h2 {
    font-size: 24px;
    color: #a0b0c0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    width: 250px;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    background-color: transparent;
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 6px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #00ffff;
    color: #05070f;
    box-shadow: 0 0 20px rgba(0, 255, 0.6);
    transform: scale(1.05);
}


.settings-container {
    background-color: rgba(10, 14, 26, 0.9); 
    border: 1px solid #00ffff;               
    border-radius: 12px;                     
    padding: 30px;                           
    margin-top: 30px;                        
    width: 320px;                            
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.1); 
}

/* Die Überschrift "Einstellungen" in der Box */
.settings-container h3 {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 255, 255, 0.2); 
    padding-bottom: 10px;
}


.option {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    margin-bottom: 15px;            
}


.option label {
    color: #a0b0c0;                  
    font-size: 14px;
    font-weight: bold;
}


.option select {
    background-color: #05070f;       
    border: 1px solid #00ffff;       
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


#close-settings-btn {
    width: 100%;                     
    background-color: transparent;
    border: 1px solid #ff3366;       
    color: #ff3366;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    transition: all 0.2s ease;
}

#close-settings-btn:hover {
    background-color: #ff3366;
    color: #05070f;
    box-shadow: 0 0 15px rgba(255, 51, 102, 0.5);
}

.settings-container {
    display: none; 
}